@model List<PreAgendamento>
    
<h2>Cheque os Dados se estão ok</h2><br>
<!-- Colunas a serem exibidas -->
<table>
   <thead>
       <tr>
           <th>Nome &nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp;</th>
           <th>Telefone &nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp;</th>
           <th>Data Agendamento &nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp;</th>
           <th>Pet &nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp;</th>
           <th>Nescessidade</th>
       </tr>
   </thead>
   <!-- Lists Organizada -->
   <tbody>
       @foreach(PreAgendamento pa in Model)
       {
           <tr>
            <td>@pa.Nome &nbsp;&nbsp;&nbsp;&nbsp;</td><br>
            <td>@pa.Telefone &nbsp;&nbsp;&nbsp;&nbsp;</td><br>
            <td>@pa.DataTimes &nbsp;&nbsp;&nbsp;&nbsp;</td><br>
            <td>@pa.Animal &nbsp;&nbsp;&nbsp;&nbsp;</td><br>
            <td>@pa.Necessidade </td><br>
       </tr>
       }
       <!-- <a asp-action="PreAgendamento">Confitmar</a> -->
       <input type="submit" value="Cadastrar" />
   </tbody>
</table>