@model List<PreAgendamento>

<h2>Cheque os Dados se estão ok</h2>

<table>
   <thead>
       <tr>
           <th>Nome</th>
           <th>Telefone</th>
           <th>Data</th>
           <th>Animal</th>
           <th>Necessidade</th>
       </tr>
   </thead>
   <tbody>
       @foreach(PreAgendamento pa in Model)
       {
       <tr>
            <td>@pa.Nome</td>
            <td>@pa.Telefone</td>
            <td>@pa.DataTimes</td>
            <td>@pa.Animal</td>
            <td>@pa.Necessidade</td>
       </tr>
       }
       <a asp-action="PreAgendamento">Confitmar</a>
   </tbody>
</table>